@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&family=League+Spartan:wght@100..900&family=Luckiest+Guy&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oleo+Script:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Playwrite+IT+Moderna:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.game__content{
    width: 80%;
    height: 500px;
    border: 15px solid rgb(11, 146, 11);
    background: linear-gradient(rgba(0, 119, 255, 0.877), #f0f8ff);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.clouds{
    width: 650px;
    position: absolute;
    top: 0;
    right: 0;
    animation: clouds 10s infinite linear;
    z-index: 1;
}

.pipe{
    position: absolute;
    width: 80px;
    bottom: 0;
    right: -70px;
    animation: pipe 1.5s infinite linear;
    z-index: 2;
}

.dog{
    width: 250px;
    position: absolute;
    bottom: -100px;
    z-index: 3;
}

.jump{
        animation: jump 500ms infinite ease-out;
}

.res{
    position: absolute;
    inset: 50%;
    font-size: 2rem;
    display: inline;
    color: darkred;
    z-index: 4;
}

.div-btn{
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical */
    padding-top: 20px;
    
}

.div-btn button{
    padding: 12px 24px;
    border-radius: 30px;
    color: blueviolet;
}

.mailoucontent{
    color: #f0f8ff;
    font-family: "Montserrat", sans-serif;
    padding: 5px;
    text-indent: 5px;
}

.contentdog > h2{
    font-size: 30px;
}

.contentdog > p {
    font-size: 20px;
}

.lastwords > p{
    font-size: 20px;
}
.lastwords > h3{
    font-size:  25px;
}

.videosdog h4{
    font-size: 25px;
}

.videosdog img{
    width: auto;
    height: 450px;
}

footer{
    padding-top: 20px;
    text-align: center;
    color: #f0f8ff;
    font-family: "Montserrat", sans-serif;
  
}

footer p {
    text-align: center;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: #f0f8ff;
    
}

/* ANIMAÇÃO */
@keyframes pipe{
    0%{
        right: -70px;
    }

    100%{
        right: 100%;
    }
}

@keyframes jump{
    0%{
        bottom: -100px;
    }
    60%{
        bottom: 50px;
    }

    80%{
        bottom: 50px;
    }

    100%{
        bottom: -100px;
    }
}

@keyframes clouds{

    0%{
        right: -650px;
    }

    100%{
        right: 100%;
    }

}

